<style>



/*  h3 tag : id = heading*/
h3.heading {    
    color:black;
    background-color:#bffcff; 
    padding:0.3em; 
    border-bottom: 5px solid #3ac0c7; 
    font-family: "Bookman Old Style", Georgia, serif;
    font-variant: small-caps;
    font-weight:bold;
    text-indent:20px;
    }


 </style>